.c-250 {
    width: 250px !important
}


.newsletter input {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 600;

    font-size: 16px;
    letter-spacing: 2px;
    line-height: 1.9em;
    border: 0 solid #333 !important;
    border-bottom-width: 2px !important;
    border-bottom-color: white !important;
    color: white !important;
    background-color: #09233d !important;

}

.newsletter span {
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    color: white
}

.newsletter .btn span {
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;

    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 12px;
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

.newsletter .btn {
    width: 150px !important;
    float: right;
    background-color: #b57a2b !important;

    border: 0;
    padding: 15px 0 !important
}

.newscode .yikes-easy-mc-success-message {
    color: #b77a2b;
    background: #09233d;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

#custom_css_holder_for_custom_shortcode {
    display: none
}


/*Edukacije ispod*/

.sp-easy-accordion {
    margin: 30px 0
}

.sp-easy-accordion .ea-header a {
    color: #09233d !important;
}

.sp-easy-accordion .ea-body {
    display: table
}

.sp-easy-accordion .ea-header i {
    color: #09233d !important;
}

.sp-easy-accordion .ea-header {
    background-color: #fcf3eb !important;
    padding: 0
}

.yikes-easy-mc-form {
    text-align: left;
    max-width: 400px !Important;
    margin: auto;
}

.yikes-easy-mc-form label {
    font-size: 16px
}

.yikes-easy-mc-form input {
    font-size: 14px;
    border-width: 0 !important;
    background-color: #e7e7e78a !important;
    border-bottom-width: 2px !important;
    border-bottom-color: #182844 !important;
    max-width: 400px !Important;
}

.yikes-easy-mc-form button {
    width: 150px !important;
    float: right;
    background-color: #b57a2b !important;
    border: 0;
    padding: 15px 0 !important;

    color: white
}

.yikes-easy-mc-form button span {
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0px;
    letter-spacing: 4px;
    font-size: 12px;
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
}


/*Ostale edukacije */

.edukacija_col {
    background-color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 105px;
    padding-left: 20px;
    cursor: pointer;
    box-shadow: 0px 12px 20px 1px rgb(0 0 0 / 17%);
}

.edu_slika span {
    box-shadow: -1px 5px 40px 0px rgb(51 51 51 / 40%) !important;
}

.edu_naslov {
    font-family: "Alata", Helvetica, Arial, Lucida, sans-serif;
    font-size: 24px;
    color: #09233d !important;
    line-height: 1.4em;
    margin-bottom: 8px;

}

.edu_descs p {
    color: #09233d !important;
    font-family: "Open Sans" !important;
    line-height: 1.7em !important;
    color: #666 !important;
}

.edu_slika {
    width: 100% !important;

}

.edu-desc {
    margin: auto;
    width: 85%;

}

.edu_slika img {
    max-height: 220px
}

.edu_btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.cijene {


}


.edu_desc_abs {
    position: absolute;
    bottom: 95px;
    left: 0px;
    width: 100%;
    background-color: #fcf3eb;
}

.edu_row {
    margin: 0 0 30px 0
}

@media (min-width: 1592px) {
    .edu_descs .cijene {
        color: #09233d !important;
        font-family: "Open Sans" !important;
        line-height: 1.7em !important;
        color: #666 !important;
        display: flex;
        padding: 0 15px !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .edu_descs .cijene b {
        width: 180px;
        text-align: left
    }

    .edu_descs .cijene span {
        margin-left: auto
    }
}

@media (min-width: 361px) and (max-width: 478px) {
    .edu_descs .cijene {
        color: #09233d !important;
        font-family: "Open Sans" !important;
        line-height: 1.7em !important;
        color: #666 !important;
        display: flex;
        padding: 0 15px !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .edu_descs .cijene b {
        width: 180px;
        text-align: left
    }

    .edu_descs .cijene span {
        margin-left: auto
    }
}

@media (min-width: 830px) and (max-width: 1400px) {
    .edu_descs .cijene {
        color: #09233d !important;
        font-family: "Open Sans" !important;
        line-height: 1.7em !important;
        color: #666 !important;
        display: flex;
        padding: 0 15px !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .edu_descs .cijene b {
        width: 180px;
        text-align: left
    }

    .edu_descs .cijene span {
        margin-left: auto
    }
}


@media (min-width: 981px) and (max-width: 1400px) {
    .edu_descs .cijene {
        color: #09233d !important;
        font-family: "Open Sans" !important;
        line-height: 1.7em !important;
        color: #666 !important;
        display: flex;
        padding: 0 15px !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .edu_descs .cijene b {
        width: 180px;
        text-align: left
    }

    .edu_descs .cijene span {
        margin-left: auto
    }

    .edu_row {

        flex-wrap: wrap;
        margin: 0 0 -50px 0 !important;
        padding-left: 80px
    }

    .edukacija_col {
        width: 41.25% !important;
        margin-right: 8.74% !important;


        margin-bottom: 100px;
    }
}

@media (max-width: 981px) {
    .edu_row {
        padding-top: 50px !important;
        margin: 0 0 -50px 0 !important;

    }

    .et_pb_module.et_pb_image.et_pb_image_1.edu_slika {
        margin-top: -90px !important;
    }

    .edukacija_col {
        margin-bottom: 90px !important
    }
}

@media (max-width: 471px) {
    .edu_slika .et_pb_image_wrap {
        width: 100%
    }

    .edu_slika img {
        width: 100%
    }
}

@media (min-width: 650px) {
    .sp-easy-accordion .ea-header a b {
        float: right
    }
}

.et_pb_button:hover {
    background-color: transparent !important;
}

.newsletter .LNAME-label,
.newsletter .FNAME-label {
    width: 49% !important
}

#top-menu.nav .sub-menu li a {
    font-size: 14px !important
}

.mobile_menu_bar:before {
    color: #09233d !important
}

.et_mobile_menu {


    border-top: 3px solid rgb(183, 122, 43) !important;

}

.header_main_page .et_pb_button_module_wrapper {
    display: inline-block !important
}

@media (min-width: 450px) {
    .header_main_page .et_pb_social_media_follow {
        display: inline-block !important;
        margin-left: 300px
    }

}

p.cijene {
    padding-bottom: unset !important
}



